/*Палітра основних кольорів*/
/*Logo-blue color: #2196F3;*/
/*Logo-black color: #000000;*/
/*Logo-white color: #FFFFFF;*/
/*h2-text color: #212121;*/
/*p-text color: #757575;*/
/*footer-header background: #2F303A;*/
/*our team section background: #F5F4FA;*/
:root {
  --Logo-blue-color: #2196f3;
  --Logo-black-color: #000000;
  --Logo-white-color: #ffffff;
  --h2-text-color: #212121;
  --p-text-color: #757575;
  --footer-header-background: #2f303a;
  --our-team-background: #f5f4fa;
  --new-bg-hero: #c4c4c4;
}
.header {
  align-items: center;

  background-color: var(--Logo-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
main {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
/*Оформлення ЛОГО*/
.navigation__link {
  display: block;
  margin-right: 93px;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p.logo-portfolio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-down {
  margin: 0px 0px 20px 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo__text-blue {
  color: var(--Logo-blue-color);
}
.logo__text-black {
  color: var(--Logo-black-color);
}
.logo__text-white {
  color: var(--Logo-white-color);
}

.logo-down__text-blue {
  color: var(--Logo-blue-color);
}
.logo-down__text-white {
  color: var(--Logo-white-color);
}
.navigation {
  display: flex;
  align-items: center;
}
/*Загальні параметри контейнера для макета*/
.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  align-items: center;
  max-height: 80px;

  background-color: var(--Logo-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* МЕНЮ НАВІГАЦІЇ*/
.menu__link {
  color: var(--h2-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--Logo-blue-color);
}
.menu__list-line::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  left: 0px;
  background-color: var(--Logo-blue-color);
}
.menu {
  display: flex;
  padding-left: 0;
}
.menu .menu__list:not(:last-child) {
  margin-right: 50px;
}
.menu__list {
  position: relative;
}
/*Пошта та телефон в хедері*/
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts .contacts__list:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--p-text-color);
  fill: #757575;
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--Logo-blue-color);
  fill: var(--Logo-blue-color);
}
.contacts__icon {
  margin-right: 10px;
}
/* Оформлення ГЕРОЯ*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
}
.hero-section {
  padding-top: 184px;
  padding-bottom: 184px;
  background-color: var(--new-bg-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/image-for-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  color: var(--Logo-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  box-sizing: content-box;
  width: 200px;
  height: 50px;
  margin: 30px;
  border: var(--Logo-blue-color);
  border-radius: 4px;
  background-color: var(--Logo-blue-color);
  color: var(--Logo-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
  color: var(--Logo-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}
/*Оформлення ПЕРЕВАГИ*/
.advantage {
  padding-top: 94px;
}
.advantage__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}
.advantage__image {
  align-content: center;
}
.advantage__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage__text {
  max-width: 270px;
  margin: 0;

  color: var(--p-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.advantage__list {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}
.advantage__list .advantage__item:not(:last-child) {
  margin-right: 30px;
}
/* Оформлення ЧИМ МИ ЗАЙМАЄМОСЯ */
.section-wedo {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wedo {
  flex-direction: column;
  margin-bottom: 0px;
}
.wedo__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.wedo__link {
  display: block;
  margin-bottom: 0px;
}
.wedo__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 0px;
}
.wedo__item {
  position: relative;
  max-height: 294px;
}
.wedo__text {
  position: absolute;

  width: 100%;
  height: 70px;
  margin: 0%;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--Logo-white-color);
  background: rgba(47, 48, 58, 0.8);
  pointer-events: none;
}
/* Оформлення Наша Команда*/
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--our-team-background);
}
.team {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__title {
  margin-bottom: 50px;
  margin-top: 0;
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__list {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.team__item {
  max-width: 270px;
  max-height: 428px;

  background-color: var(--Logo-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list .team__item:not(:last-child) {
  margin-right: 30px;
}
.team__member {
  padding-top: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__profession {
  box-sizing: border-box;
  padding-bottom: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--p-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Buttons -- Social -- Link -- TEAM*/

.social-list .social-list__item :not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-width: 1px;
  border-style: solid;
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  border-color: var(--Logo-white-color);
  transition-property: color fill border-color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover,
.social-list__link:focus {
  fill: var(--Logo-white-color);
  border-color: var(--Logo-blue-color);
  background-color: var(--Logo-blue-color);
}
.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

/*CLIENTS SECTION*/
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  flex-direction: column;
  margin-bottom: 0px;
}
.clients__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border-width: 1px;
  border-style: solid;
  padding: auto;

  border-radius: 4px;
  border-color: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.client__link:focus {
  fill: var(--Logo-blue-color);
  border-color: var(--Logo-blue-color);
}
.clients__list {
  display: inline-flex;
  flex-direction: row;
  margin-top: 50px;
}
.clients__list .clients__item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 0px;
}

/*Елементи підвалу*/
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-header-background);
}
.footer {
  display: flex;

  align-items: flex-start;
}
.footer__list {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.footer__item {
  margin-right: 70px;
}

.address {
  width: 231px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address__text {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--Logo-white-color);
}
.address__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
/*Block ПОДПИСАТЬСЯ*/
.social-add__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 12px 12px;

  fill: var(--Logo-white-color);
  border-width: 1px;
  border-style: solid;

  border-radius: 50%;
  border-color: var(--footer-header-background);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: fill border-color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-add__link:hover,
.social-add__link:focus {
  fill: var(--Logo-white-color);
  border-color: var(--Logo-blue-color);
  background-color: var(--Logo-blue-color);
}
.social-add__list li:not(:last-child) {
  margin-right: 10px;
}
.social-add__list {
  display: flex;
  flex-direction: row;
}
.social-add {
  margin-top: 8px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Logo-white-color);
}
.subs {
  margin-top: 8px;
  height: 86px;
  margin-left: 93px;
}
.subs__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--Logo-white-color);
}
.subs__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition-property: border;
  transition-duration: 250ms;
}
.subs__input:hover,
.subs__input:focus {
  border: 1px solid #2196f3;
}

.subs__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 46px;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--Logo-blue-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: var(--Logo-white-color);

  transition-property: background-color;
  transition-duration: 250ms;
  fill: white;
}
.subs__button:hover,
.subs__button:focus {
  background-color: #188ce8;
}

.menu__link-active {
  color: var(--Logo-blue-color);
}
button.filter {
  padding: 6px 22px 6px 22px;
  color: var(--h2-text-color);
  background-color: var(--our-team-background);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button.filter:hover,
button.active:focus {
  color: var(--Logo-white-color);
  background-color: var(--Logo-blue-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: var(--Logo-white-color);
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.5); /* Параметры тени */
}
h2.img-head {
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
p.img-p {
  color: var(--p-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
/* PORTFOLIO - PAGE Styles*/
/* PORTFOLIO - PAGE Styles*/
/* PORTFOLIO - PAGE Styles*/

.no-display {
  display: none;
}
.zero {
  margin-bottom: 0px;
  margin-top: 0px;
}
.search-menu {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  margin-bottom: 50px;
}
.search-menu > li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-section {
  margin-top: 0px;
  margin-bottom: 101px;
}
.portfolio-content {
  flex-direction: column;
  justify-content: center;
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.portfolio-projects > li {
  box-sizing: border-box;
  max-width: 370px;
  max-height: 404px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}
.portfolio-projects > li:hover,
.portfolio-projects > li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-projects > li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-projects > li:not(:nth-child(3n + 0)) {
  margin-right: 30px;
}
.portfolio-projects > li > a > h2 {
  box-sizing: border-box;
  margin-left: 24px;
  margin-bottom: 4px;
  padding-top: 20px;
}
.portfolio-projects > li > a > p {
  box-sizing: border-box;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
/* ОФОРМЛЕННЯ ГРАФІКИ*/
/* ОФОРМЛЕННЯ ГРАФІКИ*/
/* ОФОРМЛЕННЯ ГРАФІКИ*/

.pr-div {
  width: 100%;
  height: 100%;
}
/* Портфолио переход для проекта*/
.project-im {
  position: relative;
  overflow: hidden;
}
.project-text {
  position: absolute;
  opacity: 1;
  /*0*/
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  bottom: -4px;
  left: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--Logo-white-color);
  overflow: hidden;
  transform: translateY(316px);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-li:hover .project-text,
.project-li:focus .project-text {
  transform: translateY(15px);
}
section > div > ul::backdrop {
  background-color: var(--p-text-color);
}
.is-hidden {
  display: none;
}

.modal {
  width: 528px;
  height: 581px;

  text-align: center;
  padding-left: 40px;
  padding-right: 40px;

  background-color: var(--Logo-white-color);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 221px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
form {
  padding: 0%;
  margin: 0%;
}
form > div > h2 {
  margin-top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--h2-text-color);
}
.form-div {
  position: relative;
  display: flex;
  flex-direction: column;
}
input,
textarea {
  outline: none;
}
.form-input {
  display: flex;
  align-items: center;
  margin-top: 28px;
  padding-left: 30px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
}
textarea {
  margin: 0%;
}
.form-com {
  resize: none;
  height: 120px;
  padding-left: 10px;
  padding-top: 5px;
}

.form-label {
  position: absolute;
  transform: translateX(0px) translateY(10px);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}
/*transition-property: color;
  transition-duration: 250ms;
}*/
/*demo  for move label
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
}
*/

.form-icon {
  position: absolute;
  transform: translateX(14px) translateY(350%);
  transition-property: fill;
  transition-duration: 250ms;
}
.form-div:focus-within > .form-icon
/*.form-div:focus-within > .form-input,
.form-div:focus-within > .form-label*/ {
  fill: var(--Logo-blue-color);
  color: var(--Logo-blue-color);
  border-color: var(--Logo-blue-color);
}
/*
.form-div:focus-within > .form-label {
  color: var(--Logo-blue-color);
}
*/
.form-input:focus {
  border: 1px solid #2196f3;
}
.apply > span {
  display: inline-block;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.apply a {
}
.checkbox {
  padding-top: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}
.icon-f {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  transform: translateY(2px);
}
.checkbox:checked + .icon-f {
  border-color: var(--Logo-blue-color);
  background-color: var(--Logo-blue-color);
  background-image: url("../images/form-icons/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}
.subm {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  background: var(--Logo-blue-color);
  border-color: var(--Logo-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: var(--Logo-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
}
.subm:hover,
.subm:focus {
  background-color: #188ce8;
}

.close-f {
  position: relative;
}
.xclose {
  position: absolute;
  padding: 0%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--Logo-white-color);
  transform: translateX(228px) translateY(-542px);
  transition-property: fill;
  transition-duration: 250ms;
}
.xclose:hover,
.xclose:focus {
  fill: var(--Logo-blue-color);
}

.icon-subs {
  margin-left: 10px;
}
