.advantage {
  padding-top: 94px;
}
.advantage__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}
.advantage__image {
  align-content: center;
}
.advantage__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $h2-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage__text {
  max-width: 270px;
  margin: 0;

  color: $p-text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.advantage__list {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}
.advantage__list .advantage__item:not(:last-child) {
  margin-right: 30px;
}
