.navigation__link {
  display: block;
  margin-right: 93px;
}
.navigation {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  max-height: 80px;

  background-color: $Logo-white-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* МЕНЮ НАВІГАЦІЇ*/
.menu__link {
  color: $h2-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link-active {
  color: $Logo-blue-color;
}
.menu__link:hover,
.menu__link:focus {
  color: $Logo-blue-color;
}
.menu__list-line::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  left: 0px;
  background-color: $Logo-blue-color;
}
.menu {
  display: flex;
  padding-left: 0;
}
.menu .menu__list:not(:last-child) {
  margin-right: 50px;
}
.menu__list {
  position: relative;
}
/*Пошта та телефон в хедері*/
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts .contacts__list:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: $p-text-color;
  fill: #757575;
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: $Logo-blue-color;
  fill: $Logo-blue-color;
}
.contacts__icon {
  margin-right: 10px;
}
