.section-wedo {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wedo {
  flex-direction: column;
  margin-bottom: 0px;

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: $h2-text-color;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
  &__link {
    display: block;
    margin-bottom: 0px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  &__item {
    position: relative;
    max-height: 294px;
  }
  &__text {
    position: absolute;

    width: 100%;
    height: 70px;
    margin: 0%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $Logo-white-color;
    background: rgba(47, 48, 58, 0.8);
    pointer-events: none;
  }
}
