$logo-font-family: Raleway;
$page-font-family: Roboto;

$Logo-blue-color: #2196f3;
$Logo-black-color: #000000;
$Logo-white-color: #ffffff;
$h2-text-color: #212121;
$p-text-color: #757575;
$footer-header-background: #2f303a;
$our-team-background-color: #f5f4fa;
$new-bg-hero: #c4c4c4;
$hover-button-background-color: #188ce8;
